{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier", "chai-friendly"],
    "rules": {
        "prettier/prettier": "error",
        "class-methods-use-this": "off",
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2
    },
    "env": {
        "node": true,
        "mocha": true
    }
}
